<html>

<html>
<head>
</head>
<body onload="myFunction()">

  <script>
    function myFunction() {
    window.open('https://nataliablock.github.io/ufsc_dashboard/', '_blank');
    window.history.back();
    }
  </script>
</body>

</html>